/* Diseño Pro Oscuro Genia AI G777 */
body { background-color: #121214; color: #ffffff; font-family: sans-serif; }
.btn-aqua { background-color: #00f2fe; color: #000; border: none; padding: 15px; cursor: pointer; }
